flask
Flask-Cors
google-api-python-client
openai
pillow
serpapi
python-dotenv
uuid
markdown_to_json
opencv-python
numpy
autogen-core
autogen-ext[openai]
autogen-ext[azure]
fastapi 
fastapi[standard]
uvicorn 
python-multipart